.ham-icon {
    margin-top:10px;
    margin-bottom:10px;
    filter: invert(100%);
}
#tp {
    background-color: black;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease;
    background-color: black;
    min-width: 250px;
    color: white;
}
#sidebar.open {
    transform: translate(0,0);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
li {
    display: block;
    padding: .2em .8em;
    margin: 0 0 .2em 0;
}
li:hover {
    background-color: grey;
}

#map {
    height: calc(100vh - 55px);
}
